/*------------------------------------*
   CONTENTS
*------------------------------------*/
/*
LESS DEFINITIONS
TYPE
STRUCTURE
NAVBAR
RESPONSIVE
*/
/*------------------------------------*
   $LESS DEFINITIONS
*------------------------------------*/
/*------------------------------------*
   $TYPE
*------------------------------------*/
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  min-height: 100%;
}
p {
  color: gray;
}
a {
  color: #83b9ae;
  transition: all 0.3s;
}
a:hover {
  color: #ffffff;
  background-color: #63a699;
  text-decoration: none;
}
h1 {
  color: #83b9ae;
}
h2 {
  color: #63a699;
}
h3 {
  color: #4e887d;
}
*::selection {
  background-color: #e5f0ee;
}
header {
  z-index: 5;
}
li {
  padding-bottom: 10px;
}
/*------------------------------------*
   $STRUCTURE
*------------------------------------*/
footer {
  position: relative;
  height: 5em;
  /* footer height */
  margin: 0 4em 2em;
}
.copyright {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #83b9ae;
}
/*------------------------------------*
   $NAVBAR
*------------------------------------*/
nav.navbar .navbar-header {
  padding-left: 1em;
}
/*------------------------------------*
	$RESPONSIVE DESIGN
*------------------------------------*/
/* Large desktop */
@media (min-width: 768px) {
  nav.navbar .active {
    background-color: #e4e4e4;
  }
  nav.navbar .navbar-brand:hover,
  nav.navbar ul.navbar-nav .navbar-tab:hover {
    background-color: #eeeeee;
    transition: all 0.25s;
  }
  nav.navbar .active.navbar-brand:hover,
  nav.navbar ul.navbar-nav .active.navbar-tab:hover {
    background-color: #cfcfcf;
    transition: all 0.25s;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  h1,
  h2,
  h3 {
    word-wrap: break-word;
  }
  footer {
    float: none;
  }
}
