/*------------------------------------*
   CONTENTS
*------------------------------------*/
/*
LESS DEFINITIONS
TYPE
STRUCTURE
NAVBAR
MAIN
RESPONSIVE
*/




/*------------------------------------*
   $LESS DEFINITIONS
*------------------------------------*/
@titleColor : #63a699;
@navBgColor: #f8f8f8;;



/*------------------------------------*
   $TYPE
*------------------------------------*/
* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	min-height: 100%;
}

h1 {
	color: lighten(@titleColor, 10%);
	margin: 1ex 0 2ex;
}

h2 {
	color: @titleColor;
}

h3 {
	color: darken(@titleColor, 10%);
}

*::selection {
	background-color: lighten(@titleColor, 40%);
}

header {
	z-index: 5;
}

li {
	padding-bottom: 10px;
}

/*------------------------------------*
   $STRUCTURE
*------------------------------------*/
.container {
	margin-bottom: 5em;
}

footer {
	position: relative;
	height: 5em; /* footer height */
	margin: 0 4em 2em;
}

.copyright {
	margin: 1em;
	position: absolute;
	right: 0;
	bottom: 0;
}



/*------------------------------------*
   $NAVBAR
*------------------------------------*/
nav.navbar .navbar-header {
	padding-left: 1em;
}



/*------------------------------------*
   $MAIN
*------------------------------------*/
/* escape the body-container to fullscreen (on 24" fullHD) the gallery */
.band {
/*	margin-left: -34%;
margin-right: -34%;*/
}


/* FLEX_EXAMPLE */
.flexContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 10px;
	overflow: hidden;
	background-color: rgb(138, 185, 173);
}

.flexSidemenu_left {
	flex: 1 1px;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: #94e290;
}

.flexMain {
	flex: 5 1px;
	margin-left: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: #e24f56;
}

.flexHeader {
	flex: 1 100%;
	text-align: center;
	height: 20px;
	background-color: #e2d058;
}

.flexFooter {
	flex: 1 100%;
	text-align: center;
	height: 20px;
	background-color: #95c3e2;
}

/* SIDEMENU */
.sidemenuWrapper {
	position: fixed;
	height: 100%;
	width: 250px;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 10;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #cfebd9;
}

.sidemenu {
	position: relative;
	min-height: 100%;
	padding: 15px;
	padding-top: 50px;
}

.contentOfSidemenuPage {
	margin-left: 250px;
}

.sidemenuBrand {
	margin-top: -30px;
}




/*------------------------------------*
	$RESPONSIVE DESIGN
*------------------------------------*/

/* Large desktop */
@media (min-width: 1200px) {}

@media (min-width: 768px) {

	nav.navbar .active {
		background-color: darken(@navBgColor, 8%);
	}

	nav.navbar .navbar-brand:hover, nav.navbar ul.navbar-nav .navbar-tab:hover {
		background-color: darken(@navBgColor, 4%);
		transition: all 0.25s;
	}

	nav.navbar .active.navbar-brand:hover, nav.navbar ul.navbar-nav .active.navbar-tab:hover {
		background-color: darken(@navBgColor, 16%);
		transition: all 0.25s;
	}
	
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	.flexHeader {
		order: 1;
	}

	.flexSidemenu_left {
		order: 3;
		flex: 0 100%;
	}

	.flexMain {
		margin-left: 0;
		margin-bottom: 20px;
		order: 2;
		flex: 1 100%;
	}

	.flexFooter {
		order: 4;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) { 

	h1, h2, h3 {
		word-wrap: break-word;
	}
	
	footer {
		float: none;
	}

}

.cssReso {
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-size: cover; /* scales the pic into the box */
	margin-top: 20px;
}

/* Resolution tests */
/* Standard screen resolution is 96pdi (or 1dppx) */
@media only screen and (min-resolution: 96dpi) {
	.cssReso:before {
		color: #6fad6c;
		font-size: 8pt;
		content: "100x100px";
	}
	.cssReso {
		background-image: url(/img/resolution/100x100_300dpi.png);
	}
}
/* 1.3 dppx (dots per pixel units) equals to 1.3 * 96 = 142.5dpi */
@media only screen and (min-resolution: 1.3dppx) {
	.cssReso:before {
		content: "200x200px";
	}
	.cssReso {
		background-image: url(/img/resolution/200x200_300dpi.png);
	}
}
/* device-pixel-ratio gives information about the pixel density (nexus5 has dpr:3) */
@media (-webkit-min-device-pixel-ratio: 3) {
	.cssReso:before {
		content: "300x300px";
	}
	.cssReso {
		background-image: url(/img/resolution/300x300_300dpi.png);
	}
}