/* ________DEFINITIONS________ */
/* ________DEFAULTS________ */
h1 {
  color: #83b9ae !important;
  margin: 1ex 0 2ex !important;
}
h2 {
  color: #63a699 !important;
}
h3 {
  color: #4e887d !important;
}
*::selection {
  background-color: #e5f0ee;
}
/* ________STRUCTURE________ */
.container {
  margin-bottom: 5em;
}
footer {
  position: relative;
  height: 5em;
  /* footer height */
  margin: 0 4em 2em;
}
.copyright {
  margin: 1em;
  position: absolute;
  right: 0;
  bottom: 0;
}
/* ________NAVBAR________ */
nav.navbar .navbar-header {
  padding-left: 1em;
}
/* ________BAND________ */
.band {
  position: relative;
  min-height: 400px;
  background-attachment: fixed;
  -webkit-background-attachment: fixed;
  background-color: black;
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25) inset;
  text-align: center;
  margin: 0 0 -10px;
}
.band-heading {
  color: #ffffff;
  font: 300 100%/1.5 "Open Sans", sans-serif;
  font-size: 30pt;
  padding-top: 15%;
}
/** ________RESPONSIVE_DESIGN________ **/
/* Large desktop */
@media (min-width: 768px) {
  nav.navbar .active {
    background-color: #e4e4e4;
  }
  nav.navbar .navbar-brand:hover,
  nav.navbar ul.navbar-nav li:hover {
    background-color: #eeeeee;
  }
}
/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
@media (max-width: 480px) {
  footer {
    float: none;
  }
}
