<h1 translate="{{'FLEX_TITLE'}}"></h1>
<p translate="{{'FLEX_EXAMPLETEXT'}}"></p>

<div class="flexContainer">
	<div class="flexHeader">Navigationsleiste</div>
	<div class="flexSidemenu_left">Seitenmenu mit vielen Funktionen. Das Menü ist auf der mobilen Ansicht nicht sehr wichtig und schiebt sich deshalb unter den Hauptinhalt, sobald der Bildschirm kleiner ist. Mit Flex ist die Umsetzung sehr einfach und mit wenig Aufwand zu realisieren.</div>
	<div class="flexMain">Hier befinden sich Inhalte, die sich auf die Seite beziehen. Dieser Inhalt ist stets 5-Fach so breit wie das Seitenmenü!</div>
	<div class="flexFooter">Footer</div>
</div>
