<div class="contentOfSidemenuPage">
	<h1 translate="{{'SIDEMENU_TITLE'}}"></h1>
	<p translate="{{'SIDEMENU_EXAMPLETEXT'}}"></p>

	<div class="sidemenuWrapper">
		<div class="sidemenu">
			<h3 class="sidemenuBrand">{{ 'NAV_BRAND' | translate}}<h3>
			<h2>Options</h2>
			<ol>
				<li>Element</li>
				<li id="components">
					<a href="" data-ng-click="toggleContent()">Components</a>
					<ul class="components" style="display:none">
						<li>Navbar</li>
						<li>Buttons</li>
						<li>Loading Spinner</li>
						<li>Menu</li>
						<li>Labels</li>
						<li>Fonts</li>
						<li>Images</li>
						<li>Gallery</li>
						<li>Colors</li>
						<li>Headings</li>
						<li>Dialog</li>
						<li>Alerts</li>
						<li>Tooltips</li>
						<li>Popups</li>
						<li>Paralax</li>
						<li>Hover</li>
						<li>Feedback</li>
						<li>Search</li>
						<li>i18n</li>
						<li>Tabs</li>
						<li>Sidemenu</li>
						<li>Brand</li>
						<li>Widgets</li>
						<li>Components</li>
						<li>Content</li>
						<li>Footer</li>
					</ul>
				</li>
				<li>Tag</li>
			</ol>
		</div>
	</div>

	<h2>Platzhalter</h2>
	<h2>Platzhalter</h2>
	<h2>Platzhalter</h2>
	<h2>Platzhalter</h2>
	<h2>Platzhalter</h2>
	<h2>Platzhalter</h2>
	<h2>Platzhalter</h2>
	<h2>Platzhalter</h2>
	<h2>Platzhalter</h2>
	<h2>Platzhalter</h2>
	<h2>Platzhalter</h2>
	<h2>Platzhalter</h2>
	<h2>Platzhalter</h2>
	<h2>Platzhalter</h2>
	<h2>Platzhalter</h2>
	<h2>Platzhalter</h2>
	<h2>Platzhalter</h2>
	<h2>Platzhalter</h2>
	<h2>Platzhalter</h2>
	<h2>Platzhalter</h2>
	<h2>Platzhalter</h2>
	<h2>Platzhalter</h2>
	<h2>Platzhalter</h2>